{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}

<h1>Créer un compte</h1>

<p>Cette page permettra à l'utilisateur de créer son compte sur le site</p>

{% endblock %}