{# bandeau supérieur fixe #}
{% block css %}
    <link rel="stylesheet" media="screen" type="text/css" title="default" href="{{ asset('css/header.css') }}" />
{% endblock %}

<header>
    <div class="header-title">
        <span>
        Sabrunet Marketing Services |
        {% if app.user %}
            <span>{{ app.user.surname }} -
            {% for role in app.user.roles %}
                {{ role }}
                {% if not loop.last %}
                    , 
                {% endif %}
            {% endfor %}
            </span>
        {% else %}
            <span>Anonyme</span>
        {% endif %}
        </span>
    </div>
    {% include 'Layouts/_menu.html.twig' %}
</header>
