{% extends 'Layouts/layout_vente.html.twig' %}

{% block title %}{{ parent() }} : Edit {% endblock %}

{% block titre_principal %}
    Modification des infos de votre compte
{% endblock %}

{% block vue %}
    <h2>Modification de vos informations</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}