{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

    <h1>Vitrine du site</h1>
    <p>Cette page affichera les différents produits à vendre</p>

{% endblock %}