{% extends 'Layouts/layout_vente.html.twig' %}

{% block title %} Produits disponibles : achetez les vite ! {% endblock %}

{% block vue %}
    <h1>Produits disponibles</h1>

    {% for product in products %}
        <div style="display: flex; gap: 20px; margin-bottom: 10px;">
            <div><strong>{{ product.label }}</strong></div>
            <div>{{ product.unitPrice }} €</div>
            <div>Stock: {{ product.stock }}</div>
        </div>
    {% endfor %}
{% endblock %}