{# Menu - header avec navigation et panier #}
{% block css %}
    <link rel="stylesheet" media="screen" type="text/css" title="default" href="{{ asset('css/menu.css') }}" />
{% endblock %}

<nav class="menu">

    <ul class="menu-links">
        <li><a href="/">Accueil</a></li>

        <li><a href="/profile#">Votre profil</a></li>

        <li><a href="/product">Nos Produits</a></li>

        {#{% if role|lower == "administrateur" %}#}
            <li><a href="https://fr.wikipedia.org/wiki/Mass_Effect">Mass Effect</a></li>
        {#{% endif %}#}
    </ul>

    <div class="cart">

        <a href="/cart">
            <img src="{{ asset('images/cart.svg') }}" alt="panier">
        </a>

        {% set totalItems = 8 %}

        {% if totalItems > 0 %}
            <span class="cart-count">{{ totalItems }}</span>
        {% endif %}

    </div>

</nav>