{# template intermédiaire (niveau 2) #}
{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}
    <div id="titre">
        <h1>{% block titre_principal %}Notre site de vente{% endblock %}</h1>
    </div>

    <div id="vue">
        {% block vue %}{% endblock %}
    </div>
{% endblock %}
