{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<h1>Page de profil utilisateur</h1>

<p>Cette page affichera les détails du compte utilisateur</p>

{% endblock %}