{% extends 'base.html.twig' %}

{% block title %}Déconnexion{% endblock %}

{% block body %}

    <h1>Déconnexion</h1>
    <p>Cette page affichera la confirmation de la déconnexion avec un lien de redirection vers la page principale</p>

{% endblock %}