<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue !</title>
    </head>
    <body>
        <h1> Bienvenue {{ name }} sur le site de vente en ligne ! </h1>
        <p> Vous êtes {{ role }} !</p>
    </body>
 </html>