{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <h1>Bienvenue {{ app.user.surname }} sur le site de vente en ligne !</h1>
        <p>Vous êtes {{ app.user.roles[0] }}</p>
    {% else %}
        <h1>Bienvenue sur le site de vente en ligne !</h1>
        <p>Vous n'êtes pas connecté.</p>
    {% endif %}

{% endblock %}