{# template racine (niveau 1) générique #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" media="screen" type="text/css" title="default" href="{{ asset('css/global.css') }}" />
        {% endblock %}
        {% block javascript %}{% endblock %}
    </head>

    <body>
        {% include 'Layouts/_header.html.twig' %}
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {% include 'Layouts/_footer.html.twig' %}
    </body>
</html>
